---
title: "Довершена система оркестрації контейнерів"
abstract: "Автоматичне розгортання, масштабування і управління контейнерами"
cid: home
---
{{< announcement >}}

{{< deprecationwarning >}}

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
### [Kubernetes (K8s)]({{< relref "/docs/concepts/overview/what-is-kubernetes" >}}) - це система з відкритим вихідним кодом для автоматичного розгортання, масштабування і управління контейнерізованими застосунками.

Вона об'єднує контейнери, що утворюють застосунок, у логічні елементи для легкого управління і виявлення. В основі Kubernetes - [15 років досвіду запуску і виконання застосунків у продуктивних середовищах Google](http://queue.acm.org/detail.cfm?id=2898444), а також найкращі ідеї і практики від спільноти.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### Глобальне масштабування

Заснований на тих самих принципах, що дозволяють Google запускати мільярди контейнерів щотижня, Kubernetes масштабується, не потребуючи збільшення штату ваших інженерів з експлуатації.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### Невичерпна функціональність

Локальне тестування чи підтримка корпорації світового рівня - можливості Kubernetes зростають відповідно до ваших потреб, щоб забезпечити регулярну і легку доставку ваших застосунків за будь-яких умов.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### Універсальність запуску

Kubernetes - проект з відкритим вихідним кодом. Він дозволяє скористатися перевагами локальної, гібридної чи хмарної інфраструктури, щоби легко переміщати застосунки туди, куди вам потрібно.

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
<h2>Проблеми міграції 150+ мікросервісів у Kubernetes</h2>
        <p>Сара Уеллз, технічний директор з експлуатації і безпеки роботи, Financial Times</p>
        <button id="desktopShowVideoButton" onclick="kub.showVideo()">Переглянути відео</button>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/events/kubecon-cloudnativecon-europe-2020/" button id="desktopKCButton">Відвідати KubeCon в Амстердамі, 30 березня - 2 квітня 2020</a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.cn/kubecon-cloudnativecon-open-source-summit-china/" button id="desktopKCButton">Відвідати KubeCon у Шанхаї, 28-30 липня 2020</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
